pandas
numpy
matplotlib
requests
gdown
psycopg2
spacy
gensim
nltk
tqdm
bertopic 
sentence-transformers
sentence_transformers
scikit-learn
vaderSentiment
nbformat
statsmodels
os
transformers
torch
re
hdbscan
sklearn
seaborn
scipy
gc
networkx